altgraph
certifi
cloudpickle
comtypes
Cython
dask
decorator
editdistance
future
macholib
networkx
numpy>=1.17.0
opencv-python>=4.1.0.25
pefile
Pillow
PyAutoGUI
PyInstaller
PyMsgBox
pypiwin32
PyScreeze
pytesseract
PyTweening
PyWavelets
pywin32
pywin32-ctypes
scikit-image
scipy
six
sneakysnek
toolz
tqdm
wincertstore
